<<<<<<< HEAD
@use '../../organisition/organisation-list/organisation-list.component.scss' as *;
.icon-true {
  color: green;
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
}

.icon-false {
  color: red;
  font-weight: bold;
  font-size: 22px;
  vertical-align: middle;
}

=======
@use '../../organisition/organisation-list/organisation-list.component.scss' as *
>>>>>>> 3cb4bd9814ae655b23ad68bba5e7d9541b05a639
