<div class="table-container">
    <div class="table-header">
        <div class="table-title-section">
            <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Menü öffnen"
                class="menu-button">
                <mat-icon>menu</mat-icon>
            </button>
            <button class="px-3" mat-raised-button color="primary"
                (click)="createOrganisationseinheit()"
                aria-label="Neue Organisationseinheit erstellen">
                <mat-icon>widgets</mat-icon>
                Neu
            </button>

        </div>
        <h2 class="table-title">Personen</h2>

        <div class="table-actions">
            <mat-checkbox [(ngModel)]="includeInactive"
                (change)="toggleInactive()"
                aria-label="Inklusive inaktive Einheiten">
                inkl. inaktive
            </mat-checkbox>

            <div class="search-container">
                <input
                    type="text"
                    placeholder="Suche"
                    [(ngModel)]="searchTerm"
                    (keyup)="applyFilter()"
                    class="search-input" />
                <mat-icon>search</mat-icon>
            </div>

        </div>
    </div>
    <mat-menu #menu="matMenu" class="attendance-menu" xPosition="after">
        <button mat-menu-item class="menu-item">
            <span>Personenliste Alle</span>
        </button>
        <button mat-menu-item class="menu-item">
            <span>Personenliste Aktuelle</span>
        </button>
        <button mat-menu-item class="menu-item">
            <span>Informationen hochladen</span>
        </button>
        <button mat-menu-item class="menu-item">
            <span>Konflikte-Erhebungs Formular hochladen</span>
        </button>
    </mat-menu>
    <div class="table-content">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8"
            aria-label="Liste der Personen">

            <ng-container matColumnDef="aktiv">
                <mat-header-cell *matHeaderCellDef>Aktiv</mat-header-cell>
                <mat-cell *matCellDef="let person">
                    <mat-icon
                        [ngClass]="person.aktiv ? 'icon-true' : 'icon-false'">
                        {{ person.aktiv==true ? 'check' : 'close' }}
                    </mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="geprueft">
                <mat-header-cell *matHeaderCellDef>Geprüft</mat-header-cell>
                <mat-cell *matCellDef="let person">
                    <mat-icon
                        [ngClass]="person.geprueft ? 'icon-true' : 'icon-false'">
                        {{ person.geprueft ? 'check_circle' : 'help' }}
                    </mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nachname">
                <mat-header-cell *matHeaderCellDef>Nachname</mat-header-cell>
                <mat-cell *matCellDef="let person">{{ person.nachname
                    }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="vorname">
                <mat-header-cell *matHeaderCellDef>Vorname</mat-header-cell>
                <mat-cell *matCellDef="let person">{{ person.vorname
                    }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="mitarbeiterart">
                <mat-header-cell
                    *matHeaderCellDef>Mitarbeiterart</mat-header-cell>
                <mat-cell *matCellDef="let person">{{ person.mitarbeiterart ||
                    '-' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="stundenkontingentJaehrlich">
                <mat-header-cell *matHeaderCellDef>Gesamt
                </mat-header-cell>
                <mat-cell *matCellDef="let person">{{
                    person.stundenkontingentJaehrlich || '-' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="stundenGeplantDiesesJahr">
                <mat-header-cell *matHeaderCellDef>Geplant </mat-header-cell>
                <mat-cell *matCellDef="let person">{{
                    person.stundenGeplantDiesesJahr ?? '-' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="stundenGebuchtDiesesJahr">
                <mat-header-cell *matHeaderCellDef>Gebucht </mat-header-cell>
                <mat-cell *matCellDef="let person">{{
                    person.stundenGebuchtDiesesJahr ?? '-' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="geplant2026">
                <mat-header-cell *matHeaderCellDef>Geplant
                    2026</mat-header-cell>
                <mat-cell *matCellDef="let person">{{ person.stundenGeplant2026
                    ?? '-' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="rolle">
                <mat-header-cell *matHeaderCellDef>Rolle</mat-header-cell>
                <mat-cell *matCellDef="let person">{{ person.rolle }}</mat-cell>
            </ng-container>

            <mat-header-row
                *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
                *matRowDef="let row; columns: displayedColumns"
                  (click)="selectRow(row.id)"
                [class.selected-row]="selectedRows.includes(row)"
                [ngClass]="{ 'deleted-row': !row.aktiv }">
            </mat-row>
        </mat-table>

        <!-- Add pagination -->
    </div>
</div>