<div class="attendance-container">
    <div class="header">
      <div class="header-left">
        <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Menü öffnen"
        class="menu-button"
      >
        <mat-icon>menu</mat-icon>
      </button>

        <h1>Anwesenheitsliste</h1>
      </div>
      <div class="header-right">
  
        <div class="search-container">
          <input
            type="text"
            placeholder="Suche"
            [(ngModel)]="searchTerm"
            (keyup)="applyFilter()"
            class="search-input"
          />
          <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>


    <mat-menu #menu="matMenu" class="attendance-menu" xPosition="after">
        <button mat-menu-item class="menu-item">
          <mat-icon>contacts</mat-icon>
          <span>Telefonliste</span>
        </button>
        <button mat-menu-item class="menu-item">
          <mat-icon>info</mat-icon>
          <span>Informationen</span>
        </button>
      </mat-menu>
     


    <div class="content-area" [class.with-side-menu]="showSideMenu">
      <div
        class="main-content"
        [ngStyle]="{
          width: showSideMenu ? 'calc(100% - 300px)' : '100%',
          transition: 'width 0.3s ease-in-out'
        }"
      >
        <!-- Add this wrapper div for scrolling -->
        <div class="attendance-table-container">
          <table
            mat-table
            [dataSource]="filteredData"
            matSort
            (matSortChange)="sortData($event)"
            class="attendance-table"
          >
            <!-- Icon Column -->
            <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef></th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="getIconClass(element)"
              >
                <mat-icon *ngIf="element.anwesend === 'ABWESEND'" class="status-icon"
                  >person</mat-icon
                >
                <mat-icon
                  *ngIf="element.anwesend === 'UNBEKANNT'"
                  class="status-icon"
                  >person_outline</mat-icon
                >
                <mat-icon *ngIf="element.anwesend === 'special'" class="status-icon"
                  >home</mat-icon
                >
              </td>
            </ng-container>
  
            <!-- Familienname Column -->
            <ng-container matColumnDef="familienname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Familienname
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="getStatusClass(element.anwesend)"
              >
                {{ element.nachname }}
              </td>
            </ng-container>
  
            <!-- Vorname Column -->
            <ng-container matColumnDef="vorname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="getStatusClass(element.anwesend)"
              >
                {{ element.vorname }}
              </td>
            </ng-container>
  
            <!-- Abwesend bis Column -->
            <ng-container matColumnDef="abwesendBis">
              <th mat-header-cell *matHeaderCellDef>Abwesend bis</th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="getStatusClass(element.anwesend)"
              >
                {{ createColumnAbwesendBis(element) }}
              </td>
            </ng-container>
  
            <!-- Mitarbeiterart Column -->
            <ng-container matColumnDef="mitarbeiterart">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Mitarbeiterart
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="getStatusClass(element.anwesend)"
              >
                {{ getMitarbeiterart(element.mitarbeiterart) }}
              </td>
            </ng-container>
  
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
  
  
              <td mat-cell *matCellDef="let element">
  
                <button *ngIf="element.abwesenheitVorhanden===true" mat-icon-button matTooltip="Abwesenheiten anzeigen" (click)="openDetailDialog(element)">
                  <mat-icon>calendar_month</mat-icon>
                </button>
       
                
                <button
                  mat-icon-button
                  *ngIf="element.hasCalendarEntry"
                  (click)="openDetailDialog(element)"
                  aria-label="Abwesenheitsdetails anzeigen"
                >
                  <mat-icon class="calendar-icon">event</mat-icon>
                </button>
              </td>
            </ng-container>
  
            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              [ngClass]="{ 'highlighted-row': row.hasCalendarEntry }"
              (click)="row.hasCalendarEntry && openDetailDialog(row)"
            ></tr>
          </table>
        </div>
      </div>
  
      <div class="side-menu" *ngIf="showSideMenu">
        <div class="side-menu-header">
          <h2>
            {{ sideMenuType === "phone" ? "Telefonliste" : "Informationen" }}
          </h2>
          <button
            mat-icon-button
            (click)="toggleSideMenu(sideMenuType!)"
            aria-label="Schließen"
            class="close-button"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="side-menu-content">
          <!-- Phone list content -->
          <div *ngIf="sideMenuType === 'phone'" class="phone-list">
            <div
              class="phone-list-item"
              *ngFor="let item of filteredData"
              [class.selected]="selectedEmployee?.id === item.id"
              (click)="callEmployee(item, $event)"
            >
              <div class="employee-info">
                <div class="name">
                  {{ item.familienname }}, {{ item.vorname }}
                </div>
                <div class="employee-type">{{ item.mitarbeiterart }}</div>
              </div>
              <div class="phone-number">
                <mat-icon class="phone-icon">phone</mat-icon>
                <span>+43 1 234567-{{ item.id * 111 }}</span>
              </div>
              <div class="calling-animation">
                <div class="calling-ripple"></div>
                <mat-icon class="calling-icon">call</mat-icon>
              </div>
            </div>
          </div>
  
          <!-- Info content -->
          <div *ngIf="sideMenuType === 'info'" class="info-content">
            <h3>Anwendungsinformationen</h3>
            <p>Diese Anwendung zeigt die Anwesenheitsliste aller Mitarbeiter.</p>
            <p>
              <mat-icon class="info-icon">event</mat-icon>
              Klicken Sie auf einen Eintrag mit Kalendersymbol, um Details zur
              Abwesenheit anzuzeigen.
            </p>
            <p>
              <mat-icon class="info-icon">search</mat-icon>
              Verwenden Sie das Suchfeld, um nach Namen oder Mitarbeiterart zu
              filtern.
            </p>
            <p>
              <mat-icon class="info-icon">phone</mat-icon>
              Nutzen Sie die Telefonliste für schnellen Kontakt zu Mitarbeitern.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  